/* Estilo general para el contenedor */
.ver-factura-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 90px;
}

/* Estilo para el título */
.ver-factura-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Estilos para la tabla */
.factura-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Encabezados de la tabla */
.factura-table th {
    background-color: #4f46e5;
    color: white;
    padding: 12px;
    text-align: left;
    font-size: 16px;
}

/* Filas de la tabla */
.factura-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    font-size: 14px;
}

/* Fila par e impar alternada */
.factura-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilo para el hover sobre las filas */
.factura-table tr:hover {
    background-color: #e1e1e1;
}

.container-action {
    display: flex;
    gap: 4px;
}

/* Botón de descargar factura */
.download-button {
    display: block;
    padding: 6px;
    background: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: black;
}

/* Hover sobre el botón */
.download-button:hover {
    background-color: #0056b3;
    color: white;
}

/* Estilos para los filtros */
.filters {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

.filters input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 200px;
}

.filters input::placeholder {
    color: #999;
}

.filters input:focus {
    border-color: #4f46e5;
    outline: none;
}

/* Estilos para la paginación */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.pagination button {
    padding: 8px 12px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    background-color: #4f46e5;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
    background-color: #3b3b9a;
}

.pagination span {
    margin: 0 10px;
    font-size: 14px;
    color: #333;
}